<h2>
  {{ titulo }}
</h2>
{{etiqueta_nombre}}: <input type="text" 
[placeholder]="placeholder_nombre"
(click) = "limpiar()"
[(ngModel)] = "nombreIntroducido" 
 />
 <br/>
 Descripción: <input type="text" 
 placeholder= "introduzca su Descripción"
[(ngModel)] = "descripcionIntroducida" 
 />
 <br/>
 Fichero: <input type="text" 
 placeholder= "introduzca Fichero"
[(ngModel)] = "ficheroIntroducido" 
 />
 <br/>
 <input type="button" value="limpiar" (click) = "limpiar()"/>
 <input type="button" value="Añadir" (click) = "darDeAlta()"/>
